<% @secrets.each do |secret| %>
  <p><%=secret.content%></p>
  <p><%=@likes[secret.id]%> likes</p>
  <% if current_user == secret.user %>
    <form action="/secrets/<%=secret.id%>" method="post">
    	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    	<input type="hidden" name="_method" value="delete">
    	<input type="submit" value="Delete Secret">
    </form>
  <%end%>
  <% if not secret.users.include?(current_user) %>
  	<form action="/likes/create" method="post">
  		<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  		<input type="hidden" name="secret_id" value="<%=secret.id%>">
  		<input type="submit" value="Like">
  	</form>
  <%else%>
	<form action="/likes/destroy" method="post">
		<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
		<input type="hidden" name="secret_id" value="<%=secret.id%>">
		<input type="submit" value="Unlike">
	</form>
  <% end %>
<% end %>